<div class="text-center my-5">
  <h2>Subscribe to our Newsletter!</h2>
  <p>
    It’s free! If it's not providing value you are free to unsubscribe at any
    time.
  </p>
  <form action="{% url 'newsletter:sign_up' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="emailInput" class="sr-only">Email address</label>
      <input
        type="email"
        class="form-control"
        id="emailInput"
        placeholder="Enter email"
        name="email"
        required
      />
    </div>
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>
</div>
