{% extends "base.html" %} 
{% block content %}
<div class="text-center my-5">
  <h2>Subscribe to our Newsletter!</h2>
  <p>
    It’s free! If it's not providing value you are free to unsubscribe at any
    time.
  </p>
  <div class="container my-5">
  <div class="border rounded p-4 mx-auto" style="max-width: 600px;">
    {% include "./signup_form.html" %}
  </div>
</div>
  
  {% comment %} <div class="text-center my-5">
  <form action="{% url 'newsletter:signup' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="emailInput" class="sr-only">Email address</label>
      <input
        type="email"
        class="form-control"
        id="emailInput"
        placeholder="Enter email"
        name="email"
        required
      />
    </div>
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>
</div> {% endcomment %}
  {% comment %} <a class="btn btn-success"  href="{% url 'newsletter:profile' %}" class="profile-link">Subscribe</a> {% endcomment %}
</div>
{% endblock %}
