{% extends "base.html" %} 
{% block content %}
<div class="profile-nav">
    <div>Welcome, <b>{{user.email}}</b>!</div>
    <div>
      <a href="{% url 'members:delete_user' %}">Delete Account</a>
      |
      <a href="{% url 'password_change' %}">Change Password</a>
      |
      <a href="{% url 'members:logout_user' %}">Log out</a>
    </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for name, url in breadcrumbs %}
      <li class="breadcrumb-item{% if forloop.last %} active{% endif %}" {% if not forloop.last %}aria-current="page"{% endif %}>
        {% if url %}
          <a href="{{ url }}">{{ name }}</a>
        {% else %}
          {{ name }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>

{% block breadcrumb %}{% endblock%}
  
 {% comment %} <h3>Filter</h3>
  {% include "./filter_form.html" %}
  <br />
  <h3>Matched Listings</h3>
  <ul>
    {% for listing in listings %}
      <li>{{ listing.title }}</li>
    {% empty %}
      <p>No listings found.</p>
    {% endfor %}
  </ul> {% endcomment %}
{% endblock%}
