{% extends "base.html" %} 
{% block content %}
<div style="display: flex; align-items: center; justify-content: space-between;">
    <div>Welcome, <b>{{user.email}}</b>!</div>
    <div>
      <a href="{% url 'members:delete_user' %}">Delete Account</a>
      |
      <a href="{% url 'password_change' %}">Change Password</a>
      |
      <a href="{% url 'members:logout_user' %}">Log out</a>
    </div>
</div>
<br/>
  
  <h3>Filter</h3>
  {% include "./filter_form.html" %}
  <br />
  <h3>Matched Listings</h3>
  <ul>
    {% for listing in listings %}
      <li>{{ listing.title }}</li>
    {% empty %}
      <p>No listings found.</p>
    {% endfor %}
  </ul>
{% endblock%}
