option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app/wsgi.py

commands:
  01_upgrade_pip:
    command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip"
  02_install_dependencies:
    command: "source /var/app/venv/*/bin/activate && pip install -r /var/app/staging/requirements.txt"

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python /var/app/current/manage.py collectstatic --noinput"
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python /var/app/current/manage.py migrate --noinput"
