html {
  height: 100%;
}

body {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
}

.footer {
  position: relative;
  bottom: 10px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.btn-check {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.profile-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.form-filter {
  background: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-filter .form-group {
  margin-bottom: 10px;
}

.form-filter .btn-primary {
  background-color: #007bff;
  border: none;
}

.profile-link {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  text-decoration: none;
}

.profile-link:hover {
  color: #007bff;
}
