{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="border rounded p-4 mx-auto" style="max-width: 600px;">
<h2>Change Password</h2>
<br/>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Send me instructions!">
</form>
  {% comment %} <form method="POST">
{% csrf_token %}
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Old Password</label>
    <input type="password" class="form-control" id="formGroupExampleInput">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">New Password</label>
    <input type="password" class="form-control" id="formGroupExampleInput2">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Password confirmation</label>
    <input type="password" class="form-control" id="formGroupExampleInput2">
  </div>
  <input type="submit" value="Submit" class="btn btn-secondary">
  </form> {% endcomment %}
</div>
</div>
{% endblock %}